/* ayuda.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    background-color: #f9f5ff;
    color: #333;
}

.navbar {
    background-color: black;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.social-links {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: end;
}

.social-link {
    margin: 5px 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.social-link:hover {
    text-decoration: underline;
}

/* Resto de tu CSS... */